.checkout {
    display: flex;
    justify-content: center;
    min-height: 650px;
    margin: 20px;
}

.checkout_container > .MuiTypography-root{
    font-weight: bold;
    width: 100%;
}

.checkout_paddingBt {
    padding-bottom: 20px !important;
}

.checkout_dividerHeader {
    width: 100%;
    margin-bottom: 20px !important;
}

.checkout_divider {
    width: 100%;
    margin: 16px 0 !important;
}

.checkout_profile {
    display: flex;
}

.checkout_profile > div > a > .MuiButton-root {
    font-weight: bold;
    text-transform: none;
    border: none;
}

.checkout_profile > div > a > .MuiButton-root:hover {
    border: 1px solid #3f51b5;
}

.checkout_profile > div > .MuiButton-root:hover {
    border: 1px solid rgba(63, 81, 181, 0.5);
}

.checkout_list {
    display: block;
    text-align: left;
}

.checkout_listHeader > .MuiTypography-root {
    font-weight: bold;
}

.checkout_avatarPR {
    padding-right: 10%;
}

.checkout_buttonPDF {
    margin-top: 20px !important;
}

.checkout_innerCard {
    display: flex;
    justify-content: space-between;
}

.checkout_closeIcon > .MuiButtonBase-root {
    background-color: rgb(243, 66, 37) !important;
    color: #fff;
}

.checkout_linkCart {
    text-decoration: none;
}

.checkout_card > .MuiCard-root {
    margin-bottom: 16px;
}