.forgot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.forgot_socialSharing_text > a > div > div > svg  {
    font-size: xx-large;
}

.forgot_socialSharing_text > a > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-small;
    font-weight: bold;
}


.forgot_socialSharing_text > a  {
    width: 300px;
}

.loing_divider > .MuiDivider-vertical {
    width: 3px;
    height: 200px;
}

.loing_divider >  .MuiDivider-root {
    background-color: black;
}


.forgot_title > .MuiTypography-h5{
    font-weight: bold;
}

.forgot_paddingBt {
    padding-bottom: 20px !important;
}

.forgot_card > .MuiPaper-root {
    background-color: #f5f5f5;
}

.forgot_paddingBt {
    padding-bottom: 16px !important;
}

.forgot_button {
    display: flex;
    justify-content: center;
}

.forgot_bottom {
    padding: 50px;
}

.forgot_bottom > .MuiDivider-vertical {
    width: 2px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.forgot_fieldBtPadding {
  padding-bottom: 10px !important;
}

.forgot_error {
  color: #dd4b39;
  font-size: small;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-left: 10px;
}

.forgot_button > .MuiButton-contained {
  background-color: rgb(27, 94, 32);
  color: white;
}

.forgot_button > .MuiButton-contained:hover {
  background-color: rgb(27, 94, 32);
}

.forgot_divider {
    width: 100%;
    margin-bottom: 20px !important;
    margin: 16px 0;
}

.forgot_inform {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dd4b39;
    font-size: small;
    padding-bottom: 20px;
}